<a href="https://colab.research.google.com/github/YeshuaContacto/platzi-colab-notebooks/blob/main/Dataframes_en_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Creación de dataframes en pandas**
Un DataFrame es una estructura de datos muy utilizada en el análisis de datos, especialmente en el lenguaje de programación Python mediante la biblioteca pandas. Es similar a una tabla en una base de datos o a una hoja de cálculo de Excel, ya que organiza la información en filas y columnas.

In [ ]:
import pandas as pd

file_path = '/content/online_retail.csv'
sales_data = pd.read_csv(file_path)
print(sales_data.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

           InvoiceDate  UnitPrice  CustomerID         Country
0  2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2  2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4  2010-12-01 08:26:00       3.39     17850.0  United Kingdom

In [ ]:
#DataFrame desde un array
import numpy as np

data = np.array([[1,2,3], [4,5,6], [7,8,9]])

dt_from_array = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(dt_from_array)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
#DataFrame desde una lista
data = [[1, 'Jhon', 22], [2, 'Ana', 24]]

dt_from_list = pd.DataFrame(data, columns = ['ID', 'Name', 'Age'])
print(dt_from_list)

   ID  Name  Age
0   1  Jhon   22
1   2   Ana   24

In [ ]:
#DataFrame desde un diccionario
data = [{'ID': 1,
         'Name': 'John',
         'Age': 22},
        {'ID': 2,
           'Name': 'Ana',
           'Age': 24}]

dt_from_dict_list = pd.DataFrame(data)
print(dt_from_dict_list)

   ID  Name  Age
0   1  John   22
1   2   Ana   24

In [ ]:
#DataFrame desde un diccionario con una lista en cada clave
data = {'ID': [1,2,3],
        'Name': ['John', 'Ana', 'Mike'],
        'Age': [22,24,21]}

dt_from_dict = pd.DataFrame(data)
print(dt_from_dict)

   ID  Name  Age
0   1  John   22
1   2   Ana   24
2   3  Mike   21

## **Descomponer un DataFrame en una serie**
# Serie en pandas (`pd.Series`)

Una **Serie** en pandas (`pd.Series`) es una estructura de datos unidimensional, similar a una columna en una tabla o a un array de una sola dimensión. Cada elemento en una Serie tiene un valor y un índice asociado, lo que permite un acceso rápido y manipulación eficiente.

## Características principales de una Serie
1. **Unidimensional**: Una Serie es como una lista o array, pero con la ventaja de que cada elemento tiene un índice asociado.
2. **Etiquetas en los índices**: El índice es una etiqueta única para cada elemento de la Serie. Si no se especifica, pandas asigna índices numéricos por defecto comenzando desde 0.
3. **Soporte para diferentes tipos de datos**: Una Serie puede contener cualquier tipo de dato, como números, texto, fechas, etc.
4. **Operaciones eficientes**: Permite realizar operaciones rápidas y vectorizadas sobre los datos.

## Usos de una Serie
- **Almacenar datos unidimensionales**: Es útil para trabajar con listas de valores que necesitan etiquetas o índices.
- **Acceso por índice**: Los datos pueden ser accedidos y manipulados fácilmente usando los índices.
- **Operaciones aritméticas**: Se pueden realizar operaciones matemáticas y estadísticas de forma eficiente.

## Ejemplo de creación de una Serie
```python
import pandas as pd

# Crear una Serie a partir de una lista
data = [10, 20, 30, 40]
serie = pd.Series(data)
print(serie)

In [ ]:
#Desde un diccionario que tiene series
data = {'ID': pd.Series([1,2,3]),
        'Name': pd.Series(['John', 'Ana', 'Mike']),
        'Age': pd.Series([22,24,21])}

dt_from_series_dict = pd.DataFrame(data)
print(dt_from_series_dict)

   ID  Name  Age
0   1  John   22
1   2   Ana   24
2   3  Mike   21