<a href="https://colab.research.google.com/github/YeshuaContacto/platzi-colab-notebooks/blob/main/Fusi%C3%B3n_de_DataFrames_en_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Fusión de DataFrames en Pandas**

Conbinar datos de mutiple tablas es una tarea común en el analisis de datos. Pandas proporciona varias funciones potentes para realizar estas conbinaciones de manera eficiente.

# Funciones de esta clase:


*   Merge
*   Concat
*   Join

In [ ]:
#DataFrames de ejemplo
import pandas as pd

df1 = pd.DataFrame({
    'key': ['A', 'B', 'C'],
    'value': [1, 2, 3]
})

df2 = pd.DataFrame({
    'key': ['B', 'C', 'D'],
    'value': [4, 5, 6]
})
print(df1)
print(df2)

  key  value
0   A      1
1   B      2
2   C      3
  key  value
0   B      4
1   C      5
2   D      6

In [ ]:
# Realiza una combinación interna (inner join) de los DataFrames df1 y df2 usando la columna 'key' como referencia
inner_merged = pd.merge(df1, df2, on='key', how='inner')
print(inner_merged)

  key  value_x  value_y
0   B        2        4
1   C        3        5

In [ ]:
# Realiza una combinación externa (outer join) de los DataFrames df1 y df2 usando la columna 'key' como referencia
outer_merged = pd.merge(df1, df2, on='key', how='outer')
print(outer_merged)

  key  value_x  value_y
0   A      1.0      NaN
1   B      2.0      4.0
2   C      3.0      5.0
3   D      NaN      6.0

In [ ]:
# Realiza una combinación izquierda (left join) de los DataFrames df1 y df2 usando la columna 'key' como referencia
left_merged = pd.merge(df1, df2, on='key', how='left')
print(left_merged)

  key  value_x  value_y
0   A        1      NaN
1   B        2      4.0
2   C        3      5.0

In [ ]:
# Realiza una combinación derecha (right join) de los DataFrames df1 y df2 usando la columna 'key' como referencia
right_merged = pd.merge(df1, df2, on='key', how='right')
print(right_merged)

  key  value_x  value_y
0   B      2.0        4
1   C      3.0        5
2   D      NaN        6

In [ ]:
#DataFrames de ejemplo
df3 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
})

df4 = pd.DataFrame({
    'A': ['A3', 'A4', 'A5'],
    'B': ['B3', 'B4', 'B5']
})

print(df3)
print(df4)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
    A   B
0  A3  B3
1  A4  B4
2  A5  B5

In [ ]:
# Realiza una concatenación vertical de los DataFrames df3 y df4 (apila filas de df4 debajo de df3)
vertical_concat = pd.concat([df3, df4], axis=0)
print(vertical_concat)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5

In [ ]:
# Realiza una concatenación horizontal de los DataFrames df3 y df4 (une columnas de df4 a la derecha de df3)
horizontal_concat = pd.concat([df3, df4], axis=1)
print(horizontal_concat)

    A   B   A   B
0  A0  B0  A3  B3
1  A1  B1  A4  B4
2  A2  B2  A5  B5

In [ ]:
#DataFrames de ejemplo
df5 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
  },
  index = ['K0', 'K1', 'K2']
)

df6 = pd.DataFrame({
    'C': ['C0', 'C1', 'C2'],
    'D': ['DO', 'D1', 'D2']
  },
  index = ['K0', 'K2', 'K3']
)

print(df5)
print(df6)

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
     C   D
K0  C0  DO
K2  C1  D1
K3  C2  D2

In [ ]:
# Realiza una combinación interna (inner join) de los DataFrames df5 y df6 utilizando sus índices como referencia
joined = df5.join(df6, how='inner')
print(joined)

     A   B   C   D
K0  A0  B0  C0  DO
K2  A2  B2  C1  D1