<a href="https://colab.research.google.com/github/YeshuaContacto/platzi-colab-notebooks/blob/main/Pivot_y_Reshape_en_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pivot y Reshape en Pandas**

In [ ]:
import pandas as pd

#Leer el dataset de ventas desde un archivo CSV
file_path = "/content/online_retail.csv"
sales_data = pd.read_csv(file_path)

#Covertir la columna 'InvoiceData' a tipo datetime
sales_data['InvoiceDate'] = pd.to_datetime(sales_data['InvoiceDate'])

#Eliminar filas con valores faltantes en las columnas criticas
sales_data.dropna(subset=['CustomerID', 'InvoiceDate'], inplace=True)

#Crear una nueva columna 'TotalPrice'
sales_data['TotalPrice'] = sales_data['Quantity'] * sales_data['UnitPrice']

In [ ]:
pivot_table = pd.pivot_table(sales_data, values = 'Quantity', index = 'Country',
                             columns = 'StockCode', aggfunc ='sum')

print(pivot_table)

StockCode             10002  10080  10120  10123C  10124A  10124G  10125  \
Country
Australia               NaN    NaN    NaN     NaN     NaN     NaN    NaN
Austria                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
Bahrain                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
Belgium                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
Brazil                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Canada                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Channel Islands         NaN    NaN    NaN     NaN     NaN     NaN    NaN
Cyprus                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Czech Republic          NaN    NaN    NaN     NaN     NaN     NaN    NaN
Denmark                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
EIRE                   12.0    NaN    NaN     NaN     NaN     NaN    NaN
European Community      NaN    NaN    NaN     NaN     NaN     NaN    NaN
Finland                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
France                372.0    NaN   10.0     NaN     NaN     NaN  470.0
Germany                 1.0    NaN    NaN     NaN     NaN     NaN  120.0
Greece                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Iceland                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
Israel                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Italy                   NaN    NaN    NaN     NaN     NaN     NaN    NaN
Japan                   1.0    NaN    NaN     NaN     NaN     NaN    NaN
Lebanon                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
Lithuania               NaN    NaN    NaN     NaN     NaN     NaN    NaN
Malta                   NaN    NaN    NaN     NaN     NaN     NaN    NaN
Netherlands             NaN    NaN    NaN     NaN     NaN     NaN    NaN
Norway                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Poland                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Portugal                NaN    NaN    NaN     NaN     NaN     NaN    NaN
RSA                     NaN    NaN    NaN     NaN     NaN     NaN    NaN
Saudi Arabia            NaN    NaN    NaN     NaN     NaN     NaN    NaN
Singapore               NaN    NaN    NaN     NaN     NaN     NaN    NaN
Spain                  24.0    NaN    NaN     NaN     NaN     NaN    NaN
Sweden                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Switzerland            12.0    NaN    NaN     NaN     NaN     NaN   20.0
USA                     NaN    NaN    NaN     NaN     NaN     NaN    NaN
United Arab Emirates    NaN    NaN    NaN     NaN     NaN     NaN    NaN
United Kingdom        401.0  291.0  183.0     5.0    16.0    17.0  616.0
Unspecified             NaN    NaN    NaN     NaN     NaN     NaN    NaN

StockCode              10133   10135  11001  ...  90214Y  90214Z  \
Country                                      ...
Australia                NaN     NaN    NaN  ...     NaN     NaN
Austria                  NaN     NaN    NaN  ...     NaN     NaN
Bahrain                  NaN     NaN    NaN  ...     NaN     NaN
Belgium                  NaN     NaN    NaN  ...     NaN     NaN
Brazil                   NaN     NaN    NaN  ...     NaN     NaN
Canada                  40.0    20.0    NaN  ...     NaN     NaN
Channel Islands          NaN     NaN    NaN  ...     NaN     NaN
Cyprus                   NaN     NaN    NaN  ...     NaN     NaN
Czech Republic           NaN     NaN    NaN  ...     NaN     NaN
Denmark                  NaN     NaN    NaN  ...     NaN     NaN
EIRE                    40.0    60.0   48.0  ...     NaN     NaN
European Community       NaN     NaN    NaN  ...     NaN     NaN
Finland                  NaN     NaN    NaN  ...     NaN     NaN
France                   NaN    10.0   16.0  ...     NaN     NaN
Germany                  NaN   200.0   32.0  ...     NaN     NaN
Greece                   NaN     NaN    NaN  ...     NaN     NaN
Iceland                  NaN     NaN    NaN  ...     NaN     NaN
Israel                  20.0     NaN    NaN  ...     NaN     NaN
Italy                    NaN     NaN    NaN  ...     NaN     NaN
Japan                    NaN     NaN    NaN  ...     NaN     NaN
Lebanon                  NaN     NaN    NaN  ...     NaN     NaN
Lithuania                NaN     NaN    NaN  ...     NaN     NaN
Malta                    NaN     NaN    NaN  ...     NaN     NaN
Netherlands              NaN     NaN    NaN  ...     NaN     NaN
Norway                   NaN    10.0   16.0  ...     NaN     NaN
Poland                   NaN     NaN    NaN  ...     NaN     NaN
Portugal                20.0     NaN   16.0  ...     NaN     NaN
RSA                      NaN     NaN    NaN  ...     NaN     NaN
Saudi Arabia             NaN     NaN    NaN  ...     NaN     NaN
Singapore                NaN     NaN    NaN  ...     NaN     NaN
Spain                    NaN     NaN   16.0  ...     NaN     NaN
Sweden                   NaN     NaN    NaN  ...     NaN     NaN
Switzerland             10.0     NaN    NaN  ...     NaN     NaN
USA                      NaN     NaN    NaN  ...     NaN     NaN
United Arab Emirates     NaN     NaN    NaN  ...     NaN     NaN
United Kingdom        2244.0  1637.0  923.0  ...    61.0    12.0
Unspecified              NaN     NaN    NaN  ...     NaN     NaN

StockCode             BANK CHARGES    C2  CRUK       D   DOT       M  PADS  \
Country
Australia                      NaN   NaN   NaN     NaN   NaN     NaN   NaN
Austria                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
Bahrain                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
Belgium                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
Brazil                         NaN   NaN   NaN     NaN   NaN     NaN   NaN
Canada                         NaN   NaN   NaN     NaN   NaN     NaN   NaN
Channel Islands                NaN   3.0   NaN     NaN   NaN     0.0   NaN
Cyprus                         NaN   NaN   NaN     NaN   NaN     0.0   NaN
Czech Republic                 NaN   NaN   NaN     NaN   NaN     NaN   NaN
Denmark                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
EIRE                           NaN  97.0   NaN    -1.0   NaN    -1.0   NaN
European Community             NaN   NaN   NaN     NaN   NaN     NaN   NaN
Finland                        NaN   NaN   NaN     NaN   NaN     2.0   NaN
France                         NaN   3.0   NaN     NaN   NaN   -16.0   NaN
Germany                        NaN   NaN   NaN     NaN   NaN     2.0   NaN
Greece                         NaN   NaN   NaN     NaN   NaN     NaN   NaN
Iceland                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
Israel                         NaN   NaN   NaN     NaN   NaN     NaN   NaN
Italy                          NaN   NaN   NaN    -1.0   NaN    -1.0   NaN
Japan                          NaN   NaN   NaN     NaN   NaN    -3.0   NaN
Lebanon                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
Lithuania                      NaN   NaN   NaN     NaN   NaN     NaN   NaN
Malta                          NaN   NaN   NaN     NaN   NaN     NaN   NaN
Netherlands                    NaN   NaN   NaN    -1.0   NaN  -480.0   NaN
Norway                         NaN   NaN   NaN     NaN   NaN     0.0   NaN
Poland                         NaN   NaN   NaN     NaN   NaN     NaN   NaN
Portugal                       NaN   NaN   NaN     NaN   NaN     1.0   NaN
RSA                            NaN   NaN   NaN     NaN   NaN     1.0   NaN
Saudi Arabia                   NaN   NaN   NaN     NaN   NaN     NaN   NaN
Singapore                      NaN   NaN   NaN     NaN   NaN     0.0   NaN
Spain                          NaN   NaN   NaN     NaN   NaN    -3.0   NaN
Sweden                         NaN   NaN   NaN     NaN   NaN     1.0   NaN
Switzerland                    NaN   NaN   NaN     NaN   NaN     NaN   NaN
USA                            NaN   NaN   NaN     NaN   NaN     NaN   NaN
United Arab Emirates           NaN   NaN   NaN     NaN   NaN     NaN   NaN
United Kingdom                12.0  30.0 -16.0 -1191.0  16.0  3681.0   4.0
Unspecified                    NaN   NaN   NaN     NaN   NaN     NaN   NaN

StockCode               POST
Country
Australia                0.0
Austria                 37.0
Bahrain                  NaN
Belgium                272.0
Brazil                   NaN
Canada                   1.0
Channel Islands          NaN
Cyprus                   1.0
Czech Republic           0.0
Denmark                 41.0
EIRE                     NaN
European Community       9.0
Finland                 89.0
France                 803.0
Germany               1104.0
Greece                   6.0
Iceland                  NaN
Israel                   NaN
Italy                   44.0
Japan                    NaN
Lebanon                  NaN
Lithuania                NaN
Malta                   10.0
Netherlands             99.0
Norway                  57.0
Poland                   9.0
Portugal                97.0
RSA                      NaN
Saudi Arabia             NaN
Singapore                NaN
Spain                  209.0
Sweden                  37.0
Switzerland             97.0
USA                      NaN
United Arab Emirates     1.0
United Kingdom         -21.0
Unspecified              NaN

[37 rows x 3684 columns]

In [ ]:
df = pd.DataFrame({
    'A': ['foo', 'bar', 'baz'],
    'B': [1,2,3],
    'C': [4,5,6]
})
print(df)

     A  B  C
0  foo  1  4
1  bar  2  5
2  baz  3  6

In [ ]:
#Transformacion de los indices utilizando el metodo stack (Apilar el DataFrame)
df_stacked = df.stack()
print(df_stack)

0  A    foo
   B      1
   C      4
1  A    bar
   B      2
   C      5
2  A    baz
   B      3
   C      6
dtype: object

In [ ]:
#Desapilar el DataFrame
df_unstaked = df_stacked.unstack()
print(df_unstaked)

     A  B  C
0  foo  1  4
1  bar  2  5
2  baz  3  6